<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
				<div class="list-group ">
						<button (click)="show_profile()" class="list-group-item list-group-item-action" [class.active]="profile_show">Profile</button>
						<button (click)="show_friends()" class="list-group-item list-group-item-action" [class.active]="friends_show">Friends</button>           						                        
					</div>					
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
							<app-profile-edit *ngIf="profile_show" [user]="user"></app-profile-edit>
							<app-profile-friends *ngIf="friends_show" [profile]="user"></app-profile-friends>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>  