
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
				<div class="list-group ">
						<button (click)="show_hotel()" class="list-group-item list-group-item-action" [class.active]="hotel_show">Hotel</button>
            <button (click)="show_rooms()" class="list-group-item list-group-item-action" [class.active]="rooms_show">Rooms</button> 
            <button (click)="show_additionalServices()" class="list-group-item list-group-item-action" [class.active]="additionalServices_show">Additional Services</button>           						                        
					</div>					
		</div>
		<div class="col-md-9 desni">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h1>Edit hotel</h1>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
							<app-hotel-update  *ngIf="hotel_show" [hotel]="hotel"></app-hotel-update>
              				<app-hotel-rooms *ngIf="rooms_show" [hotel]="hotel"></app-hotel-rooms>
              				<app-hotel-additional-services *ngIf="additionalServices_show" [hotel]="hotel"></app-hotel-additional-services>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>





