<div id="container">
  <div id="container1">
    <h1>My friends</h1>
    <input type="text" [(ngModel)] = "typed" placeholder="Search friends"/>
    <div class="table-responsive" style="overflow-x: unset !important; width: 300px;">
      <table class="table table-striped table-sm" id="tabela1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>       
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let friend of friends_list | filter_friends : typed">      
            <td>{{friend.name}}</td>
            <td>{{friend.surname}}</td>        
            <td><button (click)="DeleteFriend(friend)" mat-raised-button color="warn">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h1>Friend requests</h1>
    <div class="table-responsive" style="overflow-x: unset !important; width: 450px;">
      <table class="table table-striped table-sm" id="tabela2">
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>       
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pn of pending_list">      
            <td>{{pn.name}}</td> 
            <td>{{pn.surname}}</td>       
            <td><button (click)="AcceptFriendRequest(pn)" class="mr-2"  mat-raised-button color="primary">Accept</button></td>
            <td><button (click)="DeclineFriendRequest(pn)" mat-raised-button color="warn">Decline</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="container2">
    <h1>Suggested</h1>
    <div style="width: 100%;" id="tri_kartice" class="row">
    <mat-card *ngFor="let sg of suggested_list" class="example-card">
      <img mat-card-image src="/assets/img/user_img.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          <i>Name</i>: {{ sg.name }}
        <br/>
          <i>Surname</i>: {{ sg.surname }}
          <br/>
          <i>Email</i>: {{ sg.email }}
          <br/>
          <i>City</i>: {{ sg.address }}
          <br/>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="SendRequest(sg)" class="mr-2"  mat-raised-button color="primary">Send request</button>     
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</div>




