<form>                             
  <div class="form-group row">
    <label for="name" class="col-4 col-form-label">Name</label> 
    <div class="col-8">
      <input id="name" name="name" value="{{airline.name}}" [formControl]="name" class="form-control here" type="text">
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-4 col-form-label">Address</label> 
    <div class="col-8">
      <input id="address" name="address" value="{{airline.address}}" [formControl]="address" class="form-control here" type="text">
    </div>
  </div>                                                          
  <div class="form-group row">
    <label for="description" class="col-4 col-form-label">Description</label> 
    <div class="col-8">
      <input id="description" name="description" value="{{airline.description}}" [formControl]="address" class="form-control here" type="text">
    </div>  
  </div>                         
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" (click)="updateBtn()" type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>departurePlace</th>
        <th>destination</th>
        <th>takeOffDate</th>
        <th>takeOffTime</th>
        <th>landDate</th>
        <th>landTime</th>
        <th>distance</th>
        <th>stops</th>
        <th>price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights">
        <td>{{flight.id}}</td>
        <td>{{flight.departurePlace}}</td>
        <td>{{flight.destination}}</td>
        <td>{{flight.takeOffDate}}</td>
        <td>{{flight.takeOffTime}}</td>
        <td>{{flight.landDate}}</td>
        <td>{{flight.landTime}}</td>
        <td>{{flight.distance}}</td>
        <td>{{fillStops(flight.stops)}}</td>
        <td>{{flight.price}}</td>
        <td><button (click) = "editFlight(flight)" mat-raised-button data-toggle="modal" data-target="#exampleModal" color="primary">Edit</button></td>
        <td><button (click) = "deleteFlight(flight)" mat-raised-button data-toggle="modal" data-target="#exampleModal" color="primary">Delete</button></td>
      </tr>
    </tbody>
  </table>
  
</div>