
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
				<div class="list-group ">
						<button (click)="show_airline()" class="list-group-item list-group-item-action" [class.active]="airline_show">Airline</button>
            <button (click)="show_destination()" class="list-group-item list-group-item-action" [class.active]="destination_show">Destinations</button> 
            <button (click)="show_flight()" class="list-group-item list-group-item-action" [class.active]="flight_show">Flights</button>           						                        
					</div>					
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h1>Edit airline</h1>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
							<app-airline-update *ngIf="airline_show" [airline]="airline"></app-airline-update>
              				<app-airline-destination *ngIf="destination_show" [airline]="airline"></app-airline-destination>
              				<app-airline-flight *ngIf="flight_show" [airline]="airline"></app-airline-flight>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>





