.formaGore{
    width: 50%;
    margin: 0% 1% 1% 1%;
}

h1{
    margin: 1% 1% 2% 1%;
}

#tabela1{
    width: 30%;
    margin: 0% 1% 1% 1%;
}

#tabela2{
    width: 100%;
    margin: 0% 1% 1% 1%;
}

h3{
    margin: 1% 1% 1% 1%;
}

.header{
    width: 100%;
    vertical-align: middle;
    margin-left: 0.01px;
    margin-bottom: 5px;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

::ng-deep .cdk-overlay-container {
    z-index: 1200 !important;
  }

