<div class="row" style="margin-top:150px">

  <mat-card class="example-card" style="margin-left:15%;margin-right:30px">
    <mat-card-header>      
      <mat-card-title style="margin-top:5px"> Airlines</mat-card-title>
    </mat-card-header>
    <img style="margin-top:10px" mat-card-image src="/assets/img/airplane.png" alt="Photo of a Shiba Inu">
    
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/airlines">ENTER</button> 
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" style="margin-left:15%;margin-right:30px">
      <mat-card-header>        
        <mat-card-title style="margin-top:5px">Hotels</mat-card-title>        
      </mat-card-header>
      <img style="margin-top:10px" mat-card-image src="/assets/img/hotel.jpg" alt="Photo of a Shiba Inu">
      <!--mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content-->
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/hotels">ENTER</button>        
      </mat-card-actions>
    </mat-card>

  <mat-card class="example-card" style="margin-left:15%;margin-right:30px">
      <mat-card-header>        
        <mat-card-title style="margin-top:5px">Rent-A-Cars</mat-card-title>        
      </mat-card-header>
      <img style="margin-top:10px" mat-card-image src="/assets/img/car.jpg" alt="Photo of a Shiba Inu">
      
      <mat-card-actions>
          <button mat-raised-button color="primary" routerLink="/rentacars">ENTER</button> 
      </mat-card-actions>
    </mat-card>

  </div>